

  {{!-- <p class="footer">&copy; Manthan Kumar || 2023-30</p> --}}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, quibusdam.</p>
            <form action="#" method="">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Manthan-MK</h3>
            <p>
              BTM Layout <br>
              Bangalore<br>
              India <br><br>
              <strong>Phone:</strong> +91 9876543210 <br>
              <strong>Email:</strong> abcd@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, omnis?</p> --}}
            <div class="social-links mt-3">
              <a href="#" class="twitter">Twitter<i class="bx bxl-twitter"></i></a> <br>
              <a href="#" class="facebook">Facebook<i class="bx bxl-facebook"></i></a> <br>
              <a href="#" class="instagram">Instagram<i class="bx bxl-instagram"></i></a> <br>
              <a href="#" class="linkedin">LinkedIn<i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Manthan-MK</span></strong>. All Rights Reserved || 2023
      </div>
      <div class="credits"> <a href="/">Privacy </a> </div> 
      <div class="credits"> <a href="/"> Terms & </a> </div> 
    </div>
  </footer>
  <!-- End Footer -->

</html>