{{! Bootstrap-JS CDN Links :- }}
<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
  crossorigin="anonymous"
></script>

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Manthan-MK</h3>
          <p>
            BTM Layout
            <br />
            Bangalore<br />
            India
            <br /><br />
            <strong>Phone:</strong>
            +91 6296924852
            <br />
            <strong>Email:</strong>
            manthansoul@gmail.com<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>My Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">Backend Server</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">Web Designing</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">Databases</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a href="#">UI/UX Designing</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>My Social Networks</h4>
          {{! <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, omnis?</p> }}
          <div class="social-links mt-3">
            <a href="https://twitter.com/Mk4Coder" class="twitter" target="_blank">Twitter<i
                class="bx bxl-twitter"
              ></i></a>
            <br />
            <a
              href="https://www.linkedin.com/in/manthan-kumar-0bb1471bb"
              class="twitter" target="_blank"
            >LinkedIn<i class="bx bxl-twitter"></i></a>
            <br />
            <a href="https://github.com/Mk4Levi" class="twitter" target="_blank">Github<i
                class="bx bxl-twitter"
              ></i></a>
            <a
              href="https://www.reddit.com/user/Mkp_Reddit"
              class="twitter" target="_blank"
            >Reddit<i class="bx bxl-twitter"></i></a>
            <br />
            <a
              href="https://manthan-portfolio-mk.netlify.app"
              class="twitter" target="_blank"
            >Portfolio<i class="bx bxl-twitter"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      Copyright &copy; 2023 &nbsp;
      <strong><span> Manthan-MK </span></strong>
      &nbsp; || All Rights Reserved
    </div>
    <div class="credits"> <a href="#">Privacy </a> </div>
    <div class="credits"> <a href="#"> Terms </a> </div>
  </div>
</footer>
<!-- End Footer -->

</html>