<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manthan-MK</title>

    {{!-- Stylesheets --}}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/registration-style.css">
    <link rel="stylesheet" href="css/login-style.css">
    <link rel="stylesheet" href="css/style.css">

    {{!-- Favicon icon --}}
    <link rel="shortcut icon" href="images/MK_Logo.png" type="image/x-icon">
</head>

